@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #container {
    height: 100vh;
    backface-visibility: none;
  }

  #container::-webkit-scrollbar {
    display: none;
  }

  [data-pane] {
    @apply p-4 sm:p-12 space-y-4 overflow-y-auto flex-shrink-0 flex-grow-0 h-auto;
    flex-basis: 100vw;
  }

  @media (min-width: 640px) {
    [data-pane] {
      flex-basis: 320px;
    }
  }
}
