* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: white;

  --header-height: 50px;
  --header-border: #d3d6da;

  --game-max-width: 500px;

  --key-bg: #d3d6da;
  --key-color: black;
  --key-evaluated: white;

  --guess-letter: black;
  --tile-letter: white;
  --tile-correct: #6aaa64;
  --tile-present: #c9b458;
  --tile-absent: #787c7e;
  --tile-border: #d3d6da;
  --tile-border-populated: #878a8c;

  --toast-bg: black;
  --toast-text: white;

  --scoreboard-bg: white;
  --scoreboard-text: black;
  --guage-text: white;

  --guess-distribution-bar-bg: #3a3a3c;

  --button-bg: var(--key-bg);
  --button-color: var(--key-color);
  --button-bg-hover: #acb2b9;
  --button-bg-active: #e3e5e8;
}

html {
  font-family: helvetica, sans-serif;
  height: 100%;
}

body {
  height: 100%;
  background: var(--bg);
}

body.dark-theme {
  --bg: #121213;
  --header-border: #3a3a3c;

  --key-color: white;
  --key-bg: #818384;

  --guess-letter: white;
  --tile-letter: white;
  --tile-correct: #538d4e;
  --tile-present: #b59f3b;
  --tile-absent: #3a3a3c;
  --tile-border: #3a3a3c;
  --tile-border-populated: #565758;

  --toast-bg: white;
  --toast-text: black;

  --scoreboard-bg: black;
  --scoreboard-text: white;
  --guage-text: black;

  color: white;
}

button {
  border: 0;
  border-radius: 0.25rem;
  background: var(--button-bg);
  color: var(--button-color);
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
}

button:hover,
button:focus {
  background: var(--button-bg-hover);
}

button:focus {
  outline: 2px solid var(--button-bg-hover);
  outline-offset: 1px;
}

button:active {
  transform: scale(0.99);
}

.header {
  height: var(--header-height);

  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0 16px;

  justify-content: space-between;
  align-items: center;
}

.header.centered {
  justify-content: center;
}

.header.underlined {
  border-bottom: 1px solid var(--header-border);
}

.header .info {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 16px;
    font-size: 20px;
    font-weight: bold;
  }

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  touch-action: manipulation;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--game-max-width);
  height: calc(100% - var(--header-height));
  margin: 0 auto;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  width: 100%;
  overflow: hidden;
}

#guesses {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 8px;

  width: 260px;
}

@media (min-height: 620px) {
  #guesses {
    width: 300px;
  }
}

@media (min-height: 640px) {
    #guesses {
      width: 320px;
    }
  }

@media (min-height: 650px) {
  #guesses {
    width: 350px;
  }
}


.tile {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--tile-border);
  border-radius: 3px;

  color: var(--tile-letter);
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  vertical-align: middle;
  user-select: none;

  /* perspective: 250px; */
}

.tile::before {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
}

.tile:not(:empty) {
  border-color: var(--tile-border-populated);
}

.tile.tile-absent {
  border: 0;
  background-color: var(--tile-absent);
}

.tile.tile-present {
  border: 0;
  background-color: var(--tile-present);
}

.tile.tile-correct {
  border: 0;
  background-color: var(--tile-correct);
}

.tile.tile-guess {
  color: var(--guess-letter);
}

.tile-row {
  display: flex;
  flex-wrap: nowrap;
  gap: 6px;
}

#keyboard-container {
  flex: 1;
  width: 100%;
}

#keyboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
}

#keyboard .row {
  display: flex;
  flex-wrap: nowrap;
}

#keyboard .row + .row {
  margin-top: 6px;
}

#keyboard .key {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 58px;
  border-width: 0;
  border-radius: 4px;
  padding: 0;
  margin: 0;

  cursor: pointer;
  user-select: none;

  font-weight: bold;
  text-transform: uppercase;

  background: var(--key-bg);
  color: var(--key-color);

  touch-action: manipulation;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

#keyboard .key.key-correct {
  background: var(--tile-correct);
}

#keyboard .key.key-present {
  background: var(--tile-present);
}

#keyboard .key.key-absent {
  background: var(--tile-absent);
}

#keyboard .key.key-correct,
#keyboard .key.key-present,
#keyboard .key.key-absent {
  color: var(--key-evaluated);
}

#keyboard .key.one-and-a-half {
  flex: 1.5;
}

#keyboard .key.enter {
  font-size: 0.8em;
  letter-spacing: -0.7px;
}

#keyboard .key + .key {
  margin-left: 6px;
}

#keyboard .spacer {
  display: block;
  flex: 0.5;
}

#toast {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
  max-width: 32ch;
  z-index: 100;

  opacity: 0;
  transition: opacity 100ms ease-in;
}

#toast.visible {
  opacity: 1;
}

#toast .contents {
  justify-content: center;
  padding: 1em;
  border-radius: 3px;
  background: var(--toast-bg);
  text-align: center;

  color: var(--toast-text);
  font-weight: bold;
}

#scoreboard-overlay {
  visibility: hidden;
  background: rgba(0,0,0,0);
}

#scoreboard-overlay.visible {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0,0,0,0.5);
  visibility: visible;
}

#scoreboard-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: var(--game-max-width);
  z-index: 100;
  transition: opacity 100ms ease-in;
}

#scoreboard-modal .header {
  position: relative;
}

#scoreboard-modal .header #close-scoreboard {
  position: absolute;
  right: 0;
}

#scoreboard-modal .contents {
  justify-content: center;
  margin: 8px 16px;
  padding: 16px;
  border: 1px solid #1a1a1b;
  border-radius: 8px;
  background: var(--bg);
  text-align: center;

  color: var(--scoreboard-text);
}

#scoreboard-modal .contents h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bolder;
}

.statistics-section h2 {
  margin-bottom: 16px;
}

#statistics {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

#statistics .statistic {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 0 4px;
}

#statistics .statistic .value {
  font-size: 36px;
}

#statistics .statistic .name {
  font-size: 12px;
}

#guess-distribution {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#guess-distribution .row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

#guess-distribution .row + .row {
  margin-top: 4px;
}

#guess-distribution .row .key {
  margin-right: 8px;
}

#guess-distribution .row .guage {
  display: flex;
  justify-content: end;
  background: var(--tile-absent);
}

#guess-distribution .row .guage .value {
  min-width: 2ch;
  padding: 2px 8px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

#share-area {
  display: flex;
  justify-content: center;

  margin-top: 16px;
}

#share-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5em 1em;

  font-size: 1.15em;
  font-weight: bold;
  letter-spacing: -0.2px;
  text-transform: uppercase;

  color: var(--key-color);
  background: var(--tile-correct);
}

#share-button > * + * {
  margin-left: 0.3em;
}

#settings-overlay {
  position: absolute;
  background: var(--bg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

#settings-overlay.visible {
  display: block;
}

#settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  max-width: var(--game-max-width);
  width: 100%;
}

#settings .header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 32px;
}

body:not(.debug) #settings [data-setting-row="hardmode"] {
  display: none;
}


#settings #close-settings {
  padding: 4px;
}

#settings .contents {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

#settings .contents .setting {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 16px;
}

#settings .contents .setting .property {
  flex: 1;
}

#settings .contents .setting .property .name {
  font-weight: bold;
}

#settings .contents .setting .property .description {
  font-size: 0.8em;
}

#settings .contents .setting .property .description > * + * {
  margin-top: 16px;
}

#settings .contents .setting .value {
  display: flex;
  justify-content: center;
  width: 20%;
}
